/*
css for the login page of cortext
*/

@font-face { font-family: "Oxygen-Regular"; src: url('/fonts/Oxygen-Regular.ttf'); }

#path .dashboard{
        padding-left:65px;
        display: none;
}

#path .user{
        padding-left:60px;
}

#content-auth .alert{
        background: url("/images/robot-alert.png") 15px 9px no-repeat #E5EDFA;
        color: #306BD8;
        font: 16px "Oxygen-Regular",sans-serif;
        margin-bottom: 15px;
        margin-left: 270px;
        margin-top: -8px;
        padding: 8px;
        text-align: center;
        width: 735px;     
}

#content-auth .alert-error{
        background: url("/images/robot-alert-error.png") 15px 9px no-repeat #f7d6e0;
        color: #9E1D43;
        font: 16px "Oxygen-Regular",sans-serif;
        margin-top: -10px;
        margin-bottom: 13px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 8px;
}

#user li{
        list-style: none; display:inline-block;
        padding:0;
        margin:0;
}

#user #login-out{
        background: url("/images/power.png") 30px 30px no-repeat #EEF2F6;
        margin-left: -7px;
        padding-left: 5px;
        padding-right: 10px;
        border-bottom: 3px solid #9C9C9C;
}

#user #login-out a{
        color:#909090;
}

#user #login-out a:hover{
        color:#626262;
}

#user #sign{
        background-color:#9e1d43;
        border-bottom: 3px solid #F772BD;
        margin-left: -7px;
        padding-left: 5px;
        padding-right: 5px;
}

#user #user-name img{
        margin-left: -4px;
}

#user #user-name{
        border-bottom: 3px solid #9C96A7;
        margin-left: -4px;
        margin-right: -11px;
        padding-left: 4px;
        padding-right: 8px;
}

#user #user-path{
        border-bottom: 3px solid #9C96A7;
        margin-left: -4px;
        margin-right: -7px;
        padding-left: 8px;
        padding-right: 8px;
}


#user #create-account{
        border-bottom: 3px solid #9C96A7;
        margin-left: -11px;
        margin-right: -7px;
        padding-left: 8px;
        padding-right: 8px;
}

/*user*/

#content-auth{
        margin-top:65px;
}

.media{
        margin-left: 270px;
        width: 750px;
}

.border-media{
        border:1px solid #E6E6E6;
        padding-bottom: 30px;
}
.border-media p{
        padding-top: 10px;
        color: #666667;
}
.border-media a{
        color: #909090;
}

.border-media a:hover{
        color: #666667;
}

.media-user-info{
        height: 170px;
        border: 1px solid #DCDCDC;
}

.media-user-info .muted{
        color: #909090;
        font: 15px Arial,sans-serif;
        margin-left: 2px;
        margin-top: 2px;
}

.media-user-info .gravatar{
        border-right: 1px solid #DCDCDC;
        float: left;
        height: 170px;
        width: 170px;
        margin-right:25px;
}

.media-user-info .gravatar img{
        border: 1px solid #EEF2F6;
        height: 140px;
        margin: 14px auto 0 14px;
        width: 140px;
}

.media-user-info h1{
        color: #3A3A3A;
        font: 22px Arial,sans-serif;
        margin-top: 25px;
}

.media-user-info .control-label a{
        color: #909090;
        font: 13px Arial,sans-serif;
}

.required-field:after {
        content: "*";
        font-weight: bold;
        color: red;
}

.prc-complete {
        font: 18px Arial, sans-serif;
        color: #3A3A3A;
        margin-top: 8px;
}

#content-auth .user-information{
        background: url("/images/user.png") no-repeat scroll 725px 7px #EE6E21;
        margin-top: 25px;
        padding-left: 10px;
        padding-top: 4px;
        color: #FFFFFF;
        font: 17px "Oxygen-Regular",sans-serif;
        height: 25px;
        letter-spacing: 0.1em;
        width: 740px;
}


.profile .table-user{
        border: 1px solid #E6E6E6;
        background-color: #E6E6E6;
        height: 40px;
        margin-bottom: 10px;
        margin-top: 15px;
        width: 750px;
}

.profile .table-user p{
        color: #909090;
        font: 14px Arial,sans-serif;
        margin-top:12px;
        margin-left: 10px;
        display: inline-block;
}
.profile .table-user .key{
        width: 250px;
}
.profile .table-user .item{
        color: #3A3A3A;
        font: 14px Arial,sans-serif;
        margin-top:12px;
}

#edit-user a{
        color: #909090;
        font: 14px Arial,sans-serif;
        margin-top:12px; 
        text-decoration: none;  
        margin-right: 25px; 
}

#edit-user a:hover{
        color: #666667;
}

#edit-user{
        background: url("/images/edit.png") no-repeat 2px 0px;
        float: right;
        width: 30px;
        height: 40px; 
        padding-left: 30px; 
        margin-top:15px;
}

.controls .control-label{
        color: #3A3A3A;
        font: 14px Arial,sans-serif;
        margin-right: 25px; 
}

.controls .help-inline{
        color: #909090;
        font: 14px Arial,sans-serif;
        margin-left: 25px; 
}

.controls .save-info, .controls .bt-sign{
        background: #EE6E21;
        border: 1px solid #CA5C1A;
        color: #FFFFFF;
        height: 34px;
        margin-right:16px;
        margin-left: 153px;
        margin-top: 10px;
        padding-top: 6px;
        width: 230px;
}

.log-form{margin-left: -3px;}
.log-regist{margin-left: 151px;}


.controls .save-info, .controls .bt-register{    
        background: #3C3C3C;
        border: 1px solid #303030;
        color: #FFFFFF;
        height: 34px;        
        margin-top: 10px;
        padding-top: 6px;
        width: 230px;
}

.controls .save-info:hover, .controls .bt-register:hover{
    background: #2F2F2F;
        border: 1px solid #090909;
        color: #FFFFFF !important;
        transition: background-color 0.3s ease-in-out 0s;
        
}



.controls .btn-danger {
        background: #EE6E21;
        border: 1px solid #CA5C1A;
        color: #FFFFFF;
        height: 34px;
        margin-right:16px;
        margin-left: 188px;
        margin-top: 25px;
        margin-bottom: 35px;
        padding-top: 6px;
        width: 230px;
}

.missing {
        border-color: peru;
}

.controls .bt-sign:hover{
        background: #F95F03;
        border: 1px solid #A03F04;
        color: #fff;
        transition: background-color 0.3s ease-in-out 0s;
}

.controls a{
        color: #909090;
        font: 14px Arial,sans-serif;
        margin-left: 25px; 
}

.controls a:hover{
        color: #3A3A3A;
}

.control-group{
        margin-top: 15px; 
        margin-left: 50px;
}

.control-group #input-name{
        margin-left: 85px;
}

.control-group #input-email{
        margin-left: 83px;
}

.control-group #input-city{
        margin-left: 92px;
}

.control-group #input-country{
        margin-left: 66px;
        background-color: white;
        border: 1px solid gainsboro;
        color: #909090;
        font: 13px Arial;
        width: 235px;
        height: 43px;
        padding: 0 5px;
        margin-bottom: 5px;
        margin-top: 10px;
        border-radius: 3px;
}

.control-group #input-country.missing {
        border-color: peru;
}

.control-group #input-institution{
        margin-left: 55px;
}

.control-group #input-activitydomain{
        margin-left: 24px;
}

.control-group #input-researchdomain{
        margin-left: 8px;
}

.control-group #input-password{
        margin-left: 60px;
}

.control-group #input-newpassword{
        margin-left: 30px;
}

.control-group #input-confirm-password{
        margin-left: 8px;
}

.control-group #inputEmail{
        margin-left: 85px;
}

.control-group #inputPassword{
        margin-left: 60px;
}

.control-group #input-website {
        margin-left: 70px;
}

.control-group #input-description {
        margin-left: 50px;
}

.control-group #input-birthdate {
        margin-left: 65px;
}

.control-group #input-last-connexion {
        margin-left: 28px;
}

#content-auth .info-sign{
        background: url("/images/logo.png") 710px -3px no-repeat  #9C96A7;
        margin-bottom:45px;
        padding-left: 10px;
        padding-top: 4px;
        color: #FFFFFF;
        font: 17px "Oxygen-Regular",sans-serif;
        height: 25px;
        letter-spacing: 0.1em;
        width: 740px;
}

#content-auth .infosign{
        background: url("/images/user-icon.png") 170px 0px no-repeat;
        font: 14px Arial,sans-serif;
        margin-top:35px;
        margin-bottom: 35px;
        color: #3A3A3A;
}

#content-auth .infosign a{
        color: #909090;
        margin-left:38px;
        font: 14px Arial,sans-serif;
        text-decoration: none; 
}

#content-auth .infosign a:hover{
        color: #666667;
        text-decoration: underline;
}

   #content-auth .infosign2{
        background: url("/images/power-icon.png") 181px -3px no-repeat;
        font: 14px Arial,sans-serif;
        margin-top:35px;
        margin-bottom: 35px;
        margin-left: 50px;
        color: #3A3A3A;
}

 #content-auth .infosign2 a{
        color: #909090;
        margin-left:35px;
        text-decoration: none;
}   

#content-auth .infosign2 a:hover{
        color: #666667;
        text-decoration: underline;
}
       
.controls .case{
        height: 14px;
        width: 22px;
} 

.controls .case-label {
        color: #3A3A3A;
        font: 14px Arial,sans-serif;
        margin-left: -49px;
}    
   
/*forms*/

#frm_signin span a{margin-left:43px;}

#signin_username, #signin_password{
        border: 1px solid #DCDCDC;
        color: #828080;
        display: block;
        font: 13px arial;
        height: 34px;
        margin-bottom: 20px;
        padding: 0 5px;
        position: relative;
        width: 250px;
        z-index: 2;
}

.main #frm_signin span {float: right;width: 205px;position: relative;top: -58px; right: 70px;color: #A3A1A1;font: 12px arial;line-height: 36px;text-align: left; text-transform: lowercase}

.main #frm_signin .name, .main #frm_signin .password {float:left;margin-left:110px;margin-top:8px;}	
	
input,textarea {border: 1px solid gainsboro;color: #909090;font: 13px arial;width: 220px;height: 34px;padding: 0 5px;display: block;margin-bottom: 5px;margin-top: 10px;border-radius: 3px; display: table-cell}
:focus{ color: #6E6E6E !important; border : solid 1px #666768;}
textarea{height: auto}
#login_wrapper{margin: auto;font : normal 14px "Oxygen-Regular", arial, sans-serif; color : #4d4d4d;}
#login_wrapper input{display: block}
#form_wrapper {margin-left: 75px}
.main span {float: right;width: 205px;position: relative;top: -40px; right: 70px;color: #A3A1A1;font: 12px arial;line-height: 36px;text-align: left; text-transform: lowercase}
#signin_remember{display:none}

.button{
        margin-top : 20px;
        width: 260px;
}

li.submit_row input, input[type=submit], a.btn{ 
        width : 230px;
        background: #3C3C3C;
        border: 1px solid #303030;
        border-radius: 3px; 
        -moz-border-radius: 3px; 
        -webkit-border-radius: 3px; 
        box-shadow: 0px 0px 3px rgba(0,86,156, 0.6); 
        cursor: pointer; 
        color : white; 
        padding: 0 5px;
        font:bold 14px arial; 
        margin-bottom: 10px; 
        margin-left: -5px;
        text-transform: lowercase;
}

input[type=submit].authorize{
        background: none repeat scroll 0 0 #34B02C ! important;
        border: 1px solid #388530;
}

#btCancel{
        margin-top: 67px;
}

#btCancel:hover{
        background: #2F2F2F;
        border: 1px solid #090909;
        color: #ffffff;
        box-shadow: 0px 0px 3px rgba(0,86,156, 0.6);
}

#btsubmit, #btAuthorize{
        text-decoration: none;
        margin-left:-5px;
        background: #34B02C;
        border: 1px solid #388530;
        color: white;
        height: 36px;
        padding: 0 5px;
        width: 230px;
        display: block;
        line-height: 35px;
}

#btsubmit:hover, #btAuthorize:hover{border:solid 1px #388530; background: #229716;}

.appName{
        display: block;
        background: #E6E6E6; 
        border-top: 1px solid #ddd; 
        color : white; 
        font: 17px/16px "Oxygen-Regular", arial, sans-serif; color : #4d4d4d;
        padding : 10px 0;
        width: 262px;
        margin-left: -21px; 
        text-transform: lowercase;
        text-align: center;
        border-bottom: 1px solid #ddd;
        margin-top: 15px;
        margin-bottom: 15px;
}


/*footer*/
#footer {padding-top : 100px; clear: both}
#contact {text-align: center; font : normal 11px arial; color: #999;padding-top: 15px;border-top : 1px solid #eee; width: 600px; margin :auto; text-align: center; display: table}
#contact a { display: table-cell; padding-left: 5px; font: normal 11px arial; color: #999; text-decoration: none}
#contact a:hover { color: #444; text-decoration: none}
#contact li {margin: 0; height: 20px;}
#contact li span{text-align: right; margin-right: 10px; display:table-cell;width: 300px;}

/* ------pour validation formulaire dynamique-----------------------------------------------*/


.blocks p {
	   position:relative;
}

.blocks label.error{
    	position:absolute;
    	z-index:1;
    	top:-11px;
    	left:-2px;
    	padding:5px 15px 9px 280px;
    	width:auto;
    	text-align:left;
    	line-height:26px;
    	margin:0;
    	background-color:#FFEEF0;
    	color:#666667;
}

.blocks label.ok {
    	position:absolute;
    	z-index:1;
    	top:-11px;
    	left:-1px;
    	padding:5px 15px 16px 229px;
    	margin:0;
    	color:#666667;
    	border: 1px solid #54cf4c;
}

.btn,
.text,
.textarea,
.blocks label.error,
.blocks label.ok { 
	   border-radius:2px;
}

#log-out {
        background: url("/images/power-bg.png") no-repeat  2px 0px;
        height: 25px;
        margin-top: 10px;
        padding-left: 36px;
        padding-top: 3px;
        width: 100px;
}

#log-out a, #log-out-img a{
        color: #909090;
        font: 14px Arial,sans-serif;
        text-decoration: none;
}

#log-out a:hover, #log-out-img a:hover {
        color: #666667;
        font: 14px Arial,sans-serif;
        text-decoration: underline;
}

#log-out-img {
        background: url("/images/power-bg.png") no-repeat  2px 0px;
        height: 25px;
        margin-top: 10px;
        padding-left: 32px;
        padding-top: 4px;
        width: 140px;
        margin-left: 10px;
}

#view {
        background: url("/images/icon-view.png") no-repeat  2px 8px;
        height: 20px;
        padding-left: 36px;
        padding-top: 3px;
        width: 100px;
}

#view a {
        color: #909090;
        font: 14px Arial,sans-serif;
        text-decoration: none;
}

#view a:hover {
        color: #666667;
        font: 14px Arial,sans-serif;
        text-decoration: underline;
}

#link-user {
        height: 20px;
        padding-left: 16px;
        padding-top: 3px;
        margin-top: 38px;
}

#link-user a {
        background: url("/images/user-icon-grey.png") no-repeat  2px 1px;
        color: #909090;
        font: 14px Arial,sans-serif;
        text-decoration: none;
        padding-left: 30px;
}

#link-user a:hover {
        color: #666667;
        font: 14px Arial,sans-serif;
        text-decoration: underline;
}

#btn-link-manager{
        margin-top: 5px;
        width: 750px;
        background: #34B02C;
        border: 1px solid #388530;
        color: #FFFFFF;
        height: 40px;
}

#btn-link-manager:hover{border:solid 1px #388530; background: #229716;}



/*** authorize specifics ***/
#authorize-container{width: 765px; margin: auto;height: 200px;}

#authorize-container div{
    float:left; 
    width: 220px; 
    padding: 20px; 
    border: 1px solid #E8EAED; 
    min-height: 100%; 
    margin-left: 50px;
    margin-top:60px;
    background-color: #F6F7F8;
}

#authorize-container p{
    color: #444444;
    margin-right: 14px;
    text-align: center;
    font-size: 14px;
}


#no-idea p{margin-bottom: 23px;}
