# Symfony directories
*/vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
.DS_Store
/vendor/

# Composer
/server/composer.lock
/server/composer.phar
/server/autoload.php

# Configuration files
/examples/
/server/log/
/server/log/*
/server/config/config.php
/server/data/*
composer.lock
/server/log/php.log
