{% extends "ctauth/base.twig" %}

{% block content %}
<div class="row" id="authorize-container">
    <div id='authorize'>
        <p>
            I am here because I try to authenticate to application 
        </p>
        <p class="appName">{{ client_id }}</p>
        <p>and I accept to share my private data inside cortext network to this application.
        </p>
        <form action="{{ path('authorize_post') ~ '?' ~ app.request.queryString }}" method="post">
            <input type="submit" class="button" id="btAuthorize" value="authorize" />
            <input type="hidden" name="authorize" value="1" />
        </form>
    </div>
    <div id='no-idea' >
        <p>
            I have no idea what I am doing here and then certainly is here by mistake. Please do not give access to any of my information.
        </p>
        <form  action="{{ path('authorize_post') ~ '?' ~ app.request.queryString }}" method="post">
            <input type='submit' id="btCancel" class='button' value='cancel'>
            <input type="hidden" name="authorize" value="0" />
        </form>
    </div>
</div>

{% endblock %}