{% extends "ctprofile/base.twig" %}

{% block content %}
    <h3>Token Retrieved!</h3>
    <pre><code>  Access Token: {{ token }}  </code></pre>
    {% if response.profile is defined %}
    {% for item in response.profile %}
        <p>
            Here are your profile:
        </p>
        <ul>
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h4>Response:</h4>
        {% include 'ctprofile/_error.twig' %}
    {% endif %}
    <a href="{{ path('homepage') }}">back</a>
  
{% endblock %}
