{% extends "ctprofile/base.twig" %}

{% block content %}
<div class="row" id="authorize-container">
    <h1>Cortext Auth client - test application</h1>
        <p>
            <a
               id="btsubmit" 
               class="btn" 
               href="{{ app.parameters.authorize_route|slice(0, 4) == 'http' ? app.parameters.authorize_route : url(app.parameters.authorize_route) }}?response_type=code&client_id={{app.parameters.client_id}}&redirect_uri={{ url('authorize_redirect')|url_encode() }}"
            >
                Click here to test oAuth authorization
            </a>
        </p>
</div>
{% endblock %}