{
  "client_id": "demoapp",
  "client_secret": "demopass",
  "token_route": "grant",
  "authorize_route": "authorize",
  "resource_route": "access",
  "resource_method": "GET",
  "resource_params": {},
  "curl_options": {},
  "db_options": {
       "driver"    : "pdo_sqlite",
       "dbname" : "ct_oauth.sqlite",
        "host" : "",
        "username" : "",
        "password" : ""
    },
    "oauth": {
    "access_lifetime": 31536000
    },
    "mailer": {
    'host'       => '',
    'port'       => ,
    'username'   => '',
    'password'   => '',
    'encryption' => 'ssl',
    'auth_mode'  => 'login'
    }
}